{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@controller": "./src/controller",
          "@repository": "./src/repository",
          "@router": "./src/router",
          "@service": "./src/service"
        }
      }
    ]
  ]
}

